.container{
    display: inline-block;
    width: 120px;
    height: 160px;
    vertical-align: top;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    border: 1px solid #9C9C9C;
    margin: 2px;
    white-space: normal;
    overflow: hidden;
    font-size: 85%;
    background-color: #FFF;
    border-radius: 3px;
}

.image{
    width: 100px;
    height: 75px;
    margin-top: 6px;
    box-shadow: 2px 2px 3px grey;
}

.text{

}


.row{
    white-space: nowrap;
    position: absolute;
}

.outsideRow{
    position: relative;
    height:200px;
    overflow: hidden;
}

.nameElement{
    border: 1px solid #9C9C9C;
    font-size: 110%;
    font-weight: 600;
    background-image: url("images/barBackground.png");
    border-radius: 3px;
}

.exitButton{
    float:left;
    height: 18px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 3px;
}


.searchRow{
    border: 1px solid #9C9C9C;
    height: 22px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    background-image: url("images/topBarBackground.png");
    color: white;
}

.inputBox{
    height: 16px;
    margin-left: 5px;
    width: 305px;
}

.videoIframe{
    position: absolute;
    height: 360px;
    width: 640px;
    /*left: 251px;*/
    /*top: 105px;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-top: -180px;*/
    /*margin-left: -320px;*/
    z-index: 100;
    visibility: hidden;
}

.exitButtonOnIframe{
       z-index: 200;
    position: absolute;
    /*top: 92px;*/
    /*left: 882px;*/
    height: 26px;
    visibility: hidden;
}